<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
rel="stylesheet" />

<div class="row center-xs" style="height: 100%; padding: 10px 0px;">
  <div class="col-xs-9">
    <div class="box">
      <h1 style="font-weight: 600; margin-bottom: 50px;">Resumo da simulação com o BV</h1>
      <div class="row" style="margin-bottom: 35px;">
        <div class="col-xs-12">
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Marca</span>
            <span>Chevrolet</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Ano do modelo</span>
            <span>2018</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Ano de fabricação</span>
            <span>2018</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Modelo</span>
            <span>Cobalt</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Versão</span>
            <span>Elite 1.8 8V ECO AT6 4P (AG) BASICO</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Valor do veículo</span>
            <span style="font-weight: 500;">R$ 20.000,00</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Valor de entrada</span>
            <span style="font-weight: 500;">R$ 6.000,00</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Valor liberado</span>
            <span style="font-weight: 500;">R$ 14.000,00</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Taxa efetiva mensal</span>
            <span style="position: relative; font-weight: 500;"><mat-icon color="primary" aria-hidden="true" style="position: absolute; left: -30px; top: -6px;" fontSet="material-icons-outlined">visibility</mat-icon>0,00% ao mês</span>
          </div>
          <div class="row between-xs" style="margin-bottom: 15px;">
            <span style="opacity: 0.7;">Custo Efetivo Total (CET)</span>
            <span style="position: relative; font-weight: 500;"><mat-icon color="primary" aria-hidden="true" style="position: absolute; left: -30px; top: -6px;" fontSet="material-icons-outlined">visibility</mat-icon>0,00% ao mês</span>
          </div>
        </div>
      </div>
      <div class="row center-xs" style="margin-bottom: 25px;">
        <span style="opacity: 0.6; font-size: 18px;">Total a pagar: R$ 20.000,00</span>
      </div>
      <div class="row center-xs" style="margin-bottom: 25px; font-weight: 600; font-size: 34px;">
        <span style="color: royalblue;">48x&nbsp;</span>
        <span>de R$ 208,33</span>
      </div>
      <div class="row center-xs" style="margin-bottom: 25px;">
        <button mat-flat-button color="primary" style="padding: 6px 60px; border-radius: 8px;" (click)="shareZapZap()"><span style="font-weight: 100; font-size: 16px;">Compartilhar por WhatsApp</span></button>
      </div>
    </div>
  </div>
</div>
