<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
rel="stylesheet" />

<div class="row center-xs" style="position: relative; height: 100%; padding: 10px 0px;">
  <button autofocus="off" mat-icon-button mat-dialog-close aria-label="close-dialog" style="position: absolute; right: 0; top: 0;"><mat-icon style="font-size: 34px; margin-left: -10px; opacity: 0.7;">close</mat-icon></button>
  <div class="col-xs-11">
    <div class="box">
      <h1 style="font-weight: 600; margin-bottom: 50px;" cdkFocusInitial>Taxas e valores</h1>
      <div class="row" style="position: relative; margin-bottom: 45px;">
        <div class="col-xs-6" style="font-size: 16px;">
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7" style="text-align: start;"><span style="opacity: 0.7;">Valor liberado</span></div>
            <div class="col-xs-5" style="text-align: start;"><span style="font-weight: 600;">R$ 40.000,00</span></div>
          </div>
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7" style="text-align: start;"><span style="opacity: 0.7;">Tarifa de Cadastro</span></div>
            <div class="col-xs-5" style="text-align: start;"><span style="font-weight: 600;">R$ 0,00</span></div>
          </div>
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7" style="text-align: start;"><span style="opacity: 0.7;">Registro de Contrato</span></div>
            <div class="col-xs-5" style="text-align: start;"><span style="font-weight: 600;">R$ 146,91</span></div>
          </div>
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7" style="text-align: start;"><span style="opacity: 0.7;">Tarifa de avaliação do Bem</span></div>
            <div class="col-xs-5" style="text-align: start;"><span style="font-weight: 600;">R$ 0,00</span></div>
          </div>
          <div class="row">
            <div class="col-xs-7" style="text-align: start;"><span style="opacity: 0.7;">Valor de Seguros</span></div>
            <div class="col-xs-5" style="text-align: start;"><span style="font-weight: 600;">R$ 809,00</span></div>
          </div>
        </div>
        <div class="row" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; justify-content: center; align-items: center;">
          <mat-divider [vertical]="true" style="height: 70%;"></mat-divider>
        </div>
        <div class="col-xs-6" style="font-size: 16px;">
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7 col-xs-offset-2" style="text-align: start;"><span style="opacity: 0.7;">Valor financiado total*</span></div>
            <div class="col-xs-3" style="text-align: start;"><span style="font-weight: 600;">R$ 40.955,91</span></div>
          </div>
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7 col-xs-offset-2" style="text-align: start;"><span style="opacity: 0.7;">Carência</span></div>
            <div class="col-xs-3" style="text-align: start;"><span style="font-weight: 600;">30 dias</span></div>
          </div>
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7 col-xs-offset-2" style="text-align: start;"><span style="opacity: 0.7;">Prestação mensal*</span></div>
            <div class="col-xs-3" style="text-align: start;"><span style="font-weight: 600;">36x R$ 1.588,68</span></div>
          </div>
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-xs-7 col-xs-offset-2" style="text-align: start;"><span style="opacity: 0.7;">Taxa de juros mensal</span></div>
            <div class="col-xs-3" style="text-align: start;"><span style="font-weight: 600;">2,15%</span></div>
          </div>
          <div class="row">
            <div class="col-xs-7 col-xs-offset-2" style="text-align: start;"><span style="opacity: 0.7;">CET mensal</span></div>
            <div class="col-xs-3" style="text-align: start;"><span style="font-weight: 600;">2,20%</span></div>
          </div>
        </div>
      </div>
      <div class="row">
        <span style="opacity: 0.6; font-size: 16px; text-align: start;">**Os seguros incluídos são opcionais. Haverá a incidências de taxas e IOF nesta operação. A Adesão após aceitação, ocorrerá em termo contratual apartado.</span>
      </div>
    </div>
  </div>
</div>
